<ng-container *ngIf="cityData$ | async as cityData">
  <h3>
    {{ cityData.name }}
    <small class="text-muted">HOURLY</small>
  </h3>
</ng-container>

<ng-container *ngIf="currentCity$ | async as currentCity; else currentCityDataLoading">
  <app-weather-hourly-table [hourly]="currentCity.hourly"></app-weather-hourly-table>
</ng-container>

<ng-template #currentCityDataLoading>
  <app-spinner loadingText="Loading detailed weather data for a city." class="mt-4 d-flex"></app-spinner>
</ng-template>
