<h1>
  Weather for 5 European cities.
</h1>
<p class="bd-lead">
  Click and check the details.
</p>

<div class="card-group" *ngIf="cityWeatherDataList$ | async as cityWeatherDataList; else cityWeatherDataListLoading">
  <div class="card"
       *ngFor="let city of cityWeatherDataList"
  >
    <img class="card-img-top"
         src="http://placeimg.com/188/140/arch?n={{ city.id }}"
         alt="a sample city photo for the {{ city.name }} city card"
         routerLink="detailed-city-weather/{{ city.id }}"
    >
    <div class="card-body">
      <h5 class="card-title">{{ city.name }}</h5>
      <p class="card-text">
        Avg. temp.: {{ city.main.temp }} °C
        <br>
        Wind speed: {{ city.wind.speed }} m/s
      </p>
    </div>
    <div class="card-footer text-center">
      <button type="button"
              class="btn btn-primary btn-sm"
              routerLink="detailed-city-weather/{{ city.id }}"
      >
        Show details
      </button>
    </div>
  </div>
</div>

<ng-template #cityWeatherDataListLoading>
  <app-spinner loadingText="Loading detailed weather data for the cities." class="mt-4 d-flex"></app-spinner>
</ng-template>
