<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
  </div>
  <div class="row" *ngIf="loadingText">
    <div class="col">
      {{ loadingText }}
    </div>
  </div>
</div>
